#content-container{
    pointer-events: none;
}


.png{
    position:relative;
    text-align: center;
    align-items: center;
}

#png_button,#pdf_button {
    margin-top: 20px;
    background-color:#03e9f4;
    padding: 10px;
    color: white;
    font-size: 20px;
    border: 1px solid;
    border-radius: 5px;
    border: hidden;
    text-rendering: geometricPrecision;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
#png_button:hover, #pdf_button:hover{
    text-shadow: 5px 5px 10px #545454;
    color: #545454;
    cursor: pointer;
}


body { 
	margin: 30px; 
	padding: 0px; 
	font-family:"Arial"; 
	overflow-x:hidden; 
}

#content-container { 
	display: block; 
	position: relative; 
	width: 794px; width: 794px; 
	height: 1123px; 
	overflow: hidden; 
	display: block;  
	margin-left: auto; 
	margin-right: auto; 
}

#logo{
    position: absolute;
    width: 594px;
    height: 145px;
    left: 86px;
    top: 0px;
    
}

.e3_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:794px;
	height:1123px;
	position:absolute;
	align-items: center;
}
.e3_2 { 
	width:794px;
	height:1123px;
	position:absolute;
	left:0px;
	top:0px;
	/* background-image:url(images/template1_image_1.png); */
	background-repeat:no-repeat;
	background-size:cover;
}

.University{
    position: absolute;
    width: 748px;
    height: 151px;
    left: 20px;
    top: 33px;
    
    font-family: 'Audiowide', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    
    color: #1EA3DC;
}
.O_by { 
    position: absolute;
    width: 519px;
    height: 42px;
    left: 237px;
    top: calc(50% - 42px/2 - 348.5px);
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    
    color: #D65640;
    
    text-shadow: 0px 0px 3.5px #D65640;

}
.presents { 
    position: absolute;
    width: 175px;
    height: 36px;
    left: calc(50% - 175px/2 + 15.5px);
    top: 234px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    
    color: #D65640;
}
.event_name { 
    position: absolute;
    width: 649px;
    height: 234px;
    left: 79px;
    top: 270px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    text-align: center;
    
    color: #D65640;
    
    text-shadow: 0px 0px 3.5px #D65640;
    
}


.time_h { 
    position: absolute;
    width: 52px;
    height: 26px;
    left: 162px;
    top: 457px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    color: #FFFFFF;
	
}

.time { 

    position: absolute;
width: 562px;
height: 61px;
left: 185px;
top: 815px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;

text-shadow: 0px 0px 3.5px #FFFFFF;
    
}

.date_h { 
    position: absolute;
    width: 59px;
    height: 36px;
    left: 161px;
    top: 375px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    color: #7ED957;
    
    text-shadow: 0px 0px 3.5px #7ED957;
}
.date { 
    position: absolute;
    width: 517px;
    height: 88px;
    left: 225px;
    top: 727px;
    
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 0px 3.5px #FFFFFF;
}
.venue_h { 
    position: absolute;
    width: 72px;
    height: 27px;
    left: 162px;
    top: 411px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    color: #FF66C4;
    
    text-shadow: 0px 0px 3.5px #FF66C4;
	
}
.venue { 
    position: absolute;
    width: 508px;
    height: 58px;
    left: 143px;
    top: 886px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 0px 3.5px #FFFFFF;
}
.rectangle{
    position: absolute;
    width: 187px;
    height: 44px;
    left: 35px;
    top: 878.5px;

    background: #142A54;
}

.st_h{
    position: absolute;
    width: 334px;
    height: 28px;
    left: 178px;
    top: 690px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    
    color: #B4BD48;
    
    text-shadow: 0px 0px 3.5px #B4BD48;
}

.st_c{
    position: absolute;
    width: 250px;
    height: 79px;
    left: 178px;
    top: 728px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    color: #7ED957;
    
    text-shadow: 0px 0px 3.5px #7ED957;
}

.fac_h{
    position: absolute;
    width: 334px;
    height: 27px;
    left: 178px;
    top: 538px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    
    color: rgba(180, 189, 72, 0.96);
    
    text-shadow: 0px 0px 3.5px #B4BD48;
    
}

.fac_c{
    position: absolute;
    width: 266px;
    height: 78px;
    left: 178px;
    top: 589px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    color: #6968A9;
    
    text-shadow: 0px 0px 3.5px #6968A9;
}

.register { 
    position: absolute;
    width: 248px;
    height: 47px;
    left: 315px;
    top: 1005px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    
    color: #D65640;
    
    text-shadow: 0px 0px 3.5px #D65640;
	
}


.qr{
    
    position: absolute;
    width: 99px;
    height: 99px;
    left: 14px;
    top: 1005px;
    
    background: #D9D9D9;
}
.link{
    position: absolute;
    width: 568px;
    height: 46px;
    left: 143px;
    top: 1052px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 0px 3.5px #FFFFFF;
}

@media print {
    body{
        margin: 0px;
    }
    .png{
        display:none;
    }
    
}
  