#content-container{
    pointer-events: none;
}


.png{
    position:relative;
    text-align: center;
    align-items: center;
}

#png_button,#pdf_button {
    margin-top: 20px;
    background-color:#03e9f4;
    padding: 10px;
    color: white;
    font-size: 20px;
    border: 1px solid;
    border-radius: 5px;
    border: hidden;
    text-rendering: geometricPrecision;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
#png_button:hover, #pdf_button:hover{
    text-shadow: 5px 5px 10px #545454;
    color: #545454;
    cursor: pointer;
}


body { 
	margin: 30px; 
	padding: 0px; 
	font-family:"Arial"; 
	overflow-x:hidden; 
}

#content-container { 
	display: block; 
	position: relative; 
	width: 794px; width: 794px; 
	height: 1123px; 
	overflow: hidden; 
	display: block;  
	margin-left: auto; 
	margin-right: auto; 
}

#logo{
    position: absolute;
    width: 501px;
    height: 99px;
    left: 148px;
    top: 29px;
    
}

.e3_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:794px;
	height:1123px;
	position:absolute;
	align-items: center;
}
.e3_2 { 
	width:794px;
	height:1123px;
	position:absolute;
	left:0px;
	top:0px;
	/* background-image:url(images/template1_image_1.png); */
	background-repeat:no-repeat;
	background-size:cover;
}

.University{
    position: absolute;
    width: 748px;
    height: 151px;
    left: 20px;
    top: 33px;
    
    font-family: 'Audiowide', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    
    color: #1EA3DC;
}
.O_by { 
    position: absolute;
    width: 400px;
    height: 42px;
    left: 282px;
    top: 151px;
    
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 19.5px;
    line-height: 25px;
    
    color: #38B6FF;
    
    text-shadow: 0px 0px 3.5px #38B6FF;

}
.presents { 
    position: absolute;
    width: 120px;
    height: 39px;
    left: 362px;
    top: 193px;
    
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 19.5px;
    line-height: 25px;
    
    color: #38B6FF;
}
.event_name { 
    position: absolute;
    width: 570px;
    height: 140px;
    left: calc(50% - 570px/2 + 48px);
    top: calc(50% - 140px/2 - 251.5px);
    
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 54.3px;
    line-height: 68px;
    text-align: center;
    
    color: #FFFFFF;
    
    text-shadow: 0px 0px 3.5px #FFFFFF;  
    
}


.time_h { 
    position: absolute;
    width: 52px;
    height: 26px;
    left: 162px;
    top: 457px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    color: #FFFFFF;
	
}

.time { 

    position: absolute;
    position: absolute;
    width: 542px;
    height: 54px;
    left: 214px;
    top: 457px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    color: #D9D9D9;
    
    text-shadow: 0px 0px 3.5px #D9D9D9;
    
}

.date_h { 
    position: absolute;
    width: 59px;
    height: 36px;
    left: 161px;
    top: 375px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    color: #7ED957;
    
    text-shadow: 0px 0px 3.5px #7ED957;
}
.date { 
    position: absolute;
    width: 279px;
    height: 27px;
    left: 219px;
    top: 375px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    color: #7ED957;
    
    text-shadow: 0px 0px 3.5px #7ED957;
    
}
.venue_h { 
    position: absolute;
    width: 72px;
    height: 27px;
    left: 162px;
    top: 411px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    color: #FF66C4;
    
    text-shadow: 0px 0px 3.5px #FF66C4;
	
}
.venue { 
    position: absolute;
    width: 570px;
    height: 31px;
    left: 224px;
    top: 411px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    color: #FF66C4;
    
    text-shadow: 0px 0px 3.5px #FF66C4;
}
.rectangle{
    position: absolute;
    width: 187px;
    height: 44px;
    left: 35px;
    top: 878.5px;

    background: #142A54;
}

.st_h{
    position: absolute;
    width: 334px;
    height: 28px;
    left: 178px;
    top: 690px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    
    color: #B4BD48;
    
    text-shadow: 0px 0px 3.5px #B4BD48;
}

.st_c{
    position: absolute;
    width: 250px;
    height: 79px;
    left: 178px;
    top: 728px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    color: #7ED957;
    
    text-shadow: 0px 0px 3.5px #7ED957;
}

.fac_h{
    position: absolute;
    width: 334px;
    height: 27px;
    left: 178px;
    top: 538px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    
    color: rgba(180, 189, 72, 0.96);
    
    text-shadow: 0px 0px 3.5px #B4BD48;
    
}

.fac_c{
    position: absolute;
    width: 266px;
    height: 78px;
    left: 178px;
    top: 589px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    color: #6968A9;
    
    text-shadow: 0px 0px 3.5px #6968A9;
}

.register { 
    position: absolute;
    width: 326px;
    height: 51px;
    left: 263px;
    top: 874px;
    
    font-family: 'Niconne';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 0px 3.5px #FFFFFF;
	
}


.qr{
    
position: absolute;
width: 99px;
height: 99px;
left: 668px;
top: 1003px;

background: #D9D9D9;
}
.link{
    position: absolute;
width: 379px;
height: 48px;
left: 238px;
top: 925px;

font-family: 'Macondo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FF66C4;

text-shadow: 0px 0px 3.5px #FF66C4;
}

@media print {
    body{
        margin: 0px;
    }
    .png{
        display:none;
    }
    
}
  