#content-container{
    pointer-events: none;
}


.png{
    position:relative;
    text-align: center;
    align-items: center;
}

#png_button,#pdf_button {
    margin-top: 20px;
    background-color:#03e9f4;
    padding: 10px;
    color: white;
    font-size: 20px;
    border: 1px solid;
    border-radius: 5px;
    border: hidden;
    text-rendering: geometricPrecision;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
#png_button:hover, #pdf_button:hover{
    text-shadow: 5px 5px 10px #545454;
    color: #545454;
    cursor: pointer;
}


body { 
	margin: 30px; 
	padding: 0px; 
	font-family:"Arial"; 
	overflow-x:hidden; 
}

#content-container { 
	display: block; 
	position: relative; 
	width: 794px; width: 794px; 
	height: 1123px; 
	overflow: hidden; 
	display: block;  
	margin-left: auto; 
	margin-right: auto; 
}

#logo{
    position: absolute;
    width: 537px;
    height: 113px;
    left: 113px;
    top: 15px;
    
    
}

.e3_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:794px;
	height:1123px;
	position:absolute;
	align-items: center;
}
.e3_2 { 
	width:794px;
	height:1123px;
	position:absolute;
	left:0px;
	top:0px;
	/* background-image:url(images/template1_image_1.png); */
	background-repeat:no-repeat;
	background-size:cover;
}

.University{
    position: absolute;
    width: 748px;
    height: 151px;
    left: 20px;
    top: 33px;
    
    font-family: 'Audiowide', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    
    color: #1EA3DC;
}
.O_by { 
    position: absolute;
    width: 467px;
    height: 32px;
    left: 303px;
    top: 170px;
    
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 0px 3.5px #FFFFFF;

}
.presents { 
    position: absolute;
    width: 115px;
    height: 26px;
    left: 347px;
    top: 202px;
    
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 0px 3.5px #FFFFFF;
}
.event_name { 
    position: absolute;
    width: 689px;
    height: 251px;
    left: 50px;
    top: 242px;
    
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 115px;
    
    color: #5271FF;
    
    text-shadow: 0px 0px 3.5px #5271FF;
    
}


.time_h { 
    position: absolute;
    width: 52px;
    height: 32px;
    left: 262px;
    top: 614px;
    
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 0px 3.5px #FFFFFF;
	
}

.time { 

    position: absolute;
    width: 335px;
    height: 28px;
    left: 325px;
    top: 614px;
    
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 0px 3.5px #FFFFFF;
    
}

.date_h { 
    position: absolute;
    width: 59px;
    height: 36px;
    left: 161px;
    top: 375px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    color: #7ED957;
    
    text-shadow: 0px 0px 3.5px #7ED957;
}
.date { 
    position: absolute;
    width: 490px;
    height: 53px;
    left: 262px;
    top: 546px;
    
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 56px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 0px 3.5px #FFFFFF;
    
}
.venue_h { 

    position: absolute;
    width: 54px;
    height: 31px;
    left: 262px;
    top: 667px;
    
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 0px 3.5px #FFFFFF;
	
}
.venue { 
    position: absolute;
    width: 512px;
    height: 30px;
    left: 332px;
    top: 668px;
    
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 0px 3.5px #FFFFFF;
}
.rectangle{
    position: absolute;
    width: 187px;
    height: 44px;
    left: 35px;
    top: 878.5px;

    background: #142A54;
}

.st_h{
    position: absolute;
    width: 222px;
    height: 26px;
    left: 50px;
    top: 787px;
    
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #FFFFFF;
}

.st_c{
    position: absolute;
    width: 202px;
    height: 117px;
    left: 50px;
    top: 820px;
    
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #FFFFFF;
}

.fac_h{
    position: absolute;
width: 209px;
height: 25px;
left: 543px;
top: 788px;

font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
    
}

.fac_c{
    position: absolute;
width: 194px;
height: 85px;
left: 543px;
top: 820px;

font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}

.register { 
    position: absolute;
    width: 381px;
    height: 57px;
    left: 284px;
    top: 981px;
    
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 56px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
    text-shadow: 0px 0px 3.5px #FFFFFF;
	
}


.qr{
    
    position: absolute;
    width: 99px;
    height: 99px;
    left: 1px;
    top: 1023px;
    
    background: #D9D9D9;
}
.link{
    position: absolute;
    width: 508px;
    height: 57px;
    left: 120px;
    top: 1052px;
    
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #FFFFFF;
}

@media print {
    body{
        margin: 0px;
    }
    .png{
        display:none;
    }
    
}
  