#content-container{
    pointer-events: none;
}
.qr{
    pointer-events:all;
}

.png{
    position:relative;
    text-align: center;
    align-items: center;
}

#png_button,#pdf_button {
    margin-top: 20px;
    background-color:#03e9f4;
    padding: 10px;
    color: white;
    font-size: 20px;
    border: 1px solid;
    border-radius: 5px;
    border: hidden;
    text-rendering: geometricPrecision;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
#png_button:hover, #pdf_button:hover{
    text-shadow: 5px 5px 10px #545454;
    color: #545454;
    cursor: pointer;
}


body { 
	margin: 30px; 
	padding: 0px; 
	font-family:"Arial"; 
	overflow-x:hidden; 
}

#content-container { 
	display: block; 
	position: relative; 
	width: 794px; width: 794px; 
	height: 1123px; 
	overflow: hidden; 
	display: block;  
	margin-left: auto; 
	margin-right: auto; 
}

#logo{
    position: absolute;
    width: 734px;
    height: 162px;
    left: 30px;
    top: 0px;    
}

.e3_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:794px;
	height:1123px;
	position:absolute;
	align-items: center;
}
.e3_2 { 
	width:794px;
	height:1123px;
	position:absolute;
	left:0px;
	top:0px;
	/* background-image:url(images/template1_image_1.png); */
	background-repeat:no-repeat;
	background-size:cover;
}

.University{
    position: absolute;
    width: 749px;
    height: 172px;
    left: 22px;
    top: 20px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #AAFFFE;
    text-shadow: 2px 2px 30px #AAFFFE;
}
.O_by { 
    position: absolute;
    width: 746px;
    height: 61px;
    left: 24px;
    top: 203px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #AAFFFE;
    
}
.presents { 
    position: absolute;
    width: 446px;
    height: 47px;
    left: 174px;
    top: 291px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.33em;
    text-transform: uppercase;
    color: #AAFFFE;
}
.event_name { 
    position: absolute;
    width: 727px;
    height: 238px;
    left: 33px;
    top: 342px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #AAFFFE;
    
}

.time_h { 
    position: absolute;
    width: 90px;
    height: 29px;
    left: 21px;
    top: 807px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    
    color: #AAFFFE;
	
}

.time { 

    position: absolute;
    width: 215px;
    height: 47px;
    left: 21px;
    top: 851px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #AAFFFE;
    
}

.date { 
    position: absolute;
    width: 421px;
    height: 46px;
    left: 186px;
    top: 1057px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #AAFFFE;
    
}
.venue_h { 
    position: absolute;
    width: 68px;
    height: 24px;
    left: 697px;
    top: 879px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    
    color: #AAFFFE;
}
.venue { 

    position: absolute;
    width: 362px;
    height: 74px;
    left: 403px;
    top: 927px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    text-transform: capitalize;
    color: #AAFFFE;
    
}


.register { 
    position: absolute;
    width: 165px;
    height: 27px;
    left: 19px;
    top: 959px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #AAFFFE;
    
}


.qr{
    position: absolute;
    width: 99px;
    height: 99px;
    left: 44px;
    top: 1001px;    
}

@media print {
    body{
        margin: 0px;
    }
    .png{
        display:none;
    }
    
}
  