#content-container{
    pointer-events: none;
}
.qr{
    pointer-events:all;
}

.png{
    position:relative;
    text-align: center;
    align-items: center;
}

#png_button,#pdf_button {
    margin-top: 20px;
    background-color:#03e9f4;
    padding: 10px;
    color: white;
    font-size: 20px;
    border: 1px solid;
    border-radius: 5px;
    border: hidden;
    text-rendering: geometricPrecision;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
#png_button:hover, #pdf_button:hover{
    text-shadow: 5px 5px 10px #545454;
    color: #545454;
    cursor: pointer;
}


body { 
	margin: 30px; 
	padding: 0px; 
	font-family:"Arial"; 
	overflow-x:hidden; 
}

#content-container { 
	display: block; 
	position: relative; 
	width: 794px; width: 794px; 
	height: 1123px; 
	overflow: hidden; 
	display: block;  
	margin-left: auto; 
	margin-right: auto; 
}

#logo{

    position: absolute;
    width: 712px;
    height: 146px;
    left: 26px;
    top: 17px;
    
}

.e3_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:794px;
	height:1123px;
	position:absolute;
	align-items: center;
}
.e3_2 { 
	width:794px;
	height:1123px;
	position:absolute;
	left:0px;
	top:0px;
	/* background-image:url(images/template1_image_1.png); */
	background-repeat:no-repeat;
	background-size:cover;
}

.University{
    position: absolute;
    width: 748px;
    height: 151px;
    left: 14px;
    top: 25px;
    
    font-family: 'Black Ops One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    text-shadow:5px 5px 10px #848aba;
    color: #18181A;
}
.rectangle{
    position: absolute;
    width: 794px;
    height: 167px;

    background: rgba(87, 239, 254, 0.85);
}
.O_by { 
    position: absolute;
    width: 765px;
    height: 52px;
    left: 14px;
    top: calc(50% - 52px/2 - 337.5px);
    
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    
}
.presents { 
    position: absolute;
    width: 137px;
    height: 18px;
    left: 329px;
    top: 317px;
    
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.event_name { 
    position: absolute;
    width: 765px;
    height: 148px;
    left: 14px;
    top: 402px;
    
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 82px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

/* .event_name span{
    background-color: #EDA426;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    border:hidden
} */
.time_h { 
    position: absolute;
    width: 88px;
    height: 28px;
    left: 35px;
    top: 631px;
    
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    
    color: #EDA426;
	
}

.time { 

    position: absolute;
    width: 227px;
    height: 22px;
    left: 35px;
    top: 671px;
    
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #E8F0FF;
    
}

.date_h { 
    position: absolute;
    width: 105px;
    height: 12px;
    left: 35px;
    top: 742px;
    
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    
    color: #EDA426;    
}
.date { 
    position: absolute;
    width: 193px;
    height: 16px;
    left: 35px;
    top: 777px;
    
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #E8F0FF;
    
    
}
.venue_h { 
    position: absolute;
    width: 149px;
    height: 45px;
    left: 655px;
    top: 767px;
    
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: right;
    
    color: #EDA426;
    
	
}
.venue { 
    position: absolute;
    width: 283px;
    height: 58px;
    left: 455px;
    top: 828px;
    
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    
    color: #E8F0FF;
}

.st_h{
    position: absolute;
    width: 158px;
    height: 25px;
    left: 350px;
    top: 997px;
    
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: right;
    
    color: #FFFFFF;
}

.st_c{
    position: absolute;
    width: 154px;
    height: 74px;
    left: 322px;
    top: 1032px;
    
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: capitalize;
    color: #FFFFFF;
    
}

.fac_h{
    position: absolute;
    width: 158px;
    height: 25px;
    left: 511px;
    top: 997px;
    
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    
    
}

.fac_c{
    position: absolute;
    width: 154px;
    height: 74px;
    left: 511px;
    top: 1032px;
    
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    
    color: #FFFFFF;
}

.register { 
    position: absolute;
    width: 183px;
    height: 19px;
    left: 20px;
    top: 962px;
    
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;
}


.qr{
    position: absolute;
    width: 99px;
    height: 99px;
    left: 54.5px;
    top: 1010px;

}

@media print {
    body{
        margin: 0px;
    }
    .png{
        display:none;
    }
    
}
  