#content-container{
    pointer-events: none;
}


.png{
    position:relative;
    text-align: center;
    align-items: center;
}

#png_button,#pdf_button {
    margin-top: 20px;
    background-color:#03e9f4;
    padding: 10px;
    color: white;
    font-size: 20px;
    border: 1px solid;
    border-radius: 5px;
    border: hidden;
    text-rendering: geometricPrecision;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
#png_button:hover, #pdf_button:hover{
    text-shadow: 5px 5px 10px #545454;
    color: #545454;
    cursor: pointer;
}


body { 
	margin: 30px; 
	padding: 0px; 
	font-family:"Arial"; 
	overflow-x:hidden; 
}

#content-container { 
	display: block; 
	position: relative; 
	width: 794px; width: 794px; 
	height: 1123px; 
	overflow: hidden; 
	display: block;  
	margin-left: auto; 
	margin-right: auto; 
}

#logo{
    position: absolute;
    width: 615px;
    height: 122px;
    left: 90px;
    top: 0px;
    
}

.e3_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:794px;
	height:1123px;
	position:absolute;
	align-items: center;
}
.e3_2 { 
	width:794px;
	height:1123px;
	position:absolute;
	left:0px;
	top:0px;
	/* background-image:url(images/template1_image_1.png); */
	background-repeat:no-repeat;
	background-size:cover;
}

.University{
    position: absolute;
    width: 748px;
    height: 151px;
    left: 20px;
    top: 33px;
    
    font-family: 'Audiowide', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    
    color: #1EA3DC;
}
.O_by { 
    position: absolute;
    width: 503px;
    height: 33px;
    left: 277px;
    top: 152px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    
    color: #FFFFFF;

}
.presents { 
    position: absolute;
    width: 158px;
    height: 29px;
    left: 332px;
    top: 185px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    
    color: #FFFFFF;
}
.event_name { 
    position: absolute;
    width: 654px;
    height: 147px;
    left: 73px;
    top: 244px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 82px;
    text-transform: uppercase;
    
    color: #D8D35F;
    
}


.time_h { 
    position: absolute;
    width: 83px;
    height: 39px;
    left: 301px;
    top: 934px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    
    color: #D8D35F;
}

.time { 

    position: absolute;
    width: 383px;
    height: 38px;
    left: 391px;
    top: 935px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    
}

.date_h { 
    position: absolute;
    width: 90px;
    height: 33px;
    left: 301px;
    top: 973px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    
    color: #D8D35F;
    
}
.date { 
    position: absolute;
    width: 396px;
    height: 34px;
    left: 391px;
    top: 972px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    
    color: #FFFFFF;
    
    
}
.venue_h { 
    position: absolute;
    width: 112px;
    height: 36px;
    left: 288px;
    top: 1006px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    
    
    color: #D8D35F;
    
	
}
.venue { 
    position: absolute;
    width: 396px;
    height: 59px;
    left: 391px;
    top: 1006px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    
    color: #FFFFFF;
    
}
.rectangle{
    position: absolute;
    width: 187px;
    height: 44px;
    left: 35px;
    top: 878.5px;

    background: #142A54;
}

.st_h{
    position: absolute;
    width: 334px;
    height: 28px;
    left: 178px;
    top: 690px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    
    color: #B4BD48;
    
    text-shadow: 0px 0px 3.5px #B4BD48;
}

.st_c{
    position: absolute;
    width: 250px;
    height: 79px;
    left: 178px;
    top: 728px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    color: #7ED957;
    
    text-shadow: 0px 0px 3.5px #7ED957;
}

.fac_h{
    position: absolute;
    width: 334px;
    height: 27px;
    left: 178px;
    top: 538px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    
    color: rgba(180, 189, 72, 0.96);
    
    text-shadow: 0px 0px 3.5px #B4BD48;
    
}

.fac_c{
    position: absolute;
    width: 266px;
    height: 78px;
    left: 178px;
    top: 589px;
    
    font-family: 'Calistoga';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    
    color: #6968A9;
    
    text-shadow: 0px 0px 3.5px #6968A9;
}

.register { 
    position: absolute;
    width: 211px;
    height: 22px;
    left: 82px;
    top: 1070px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    color: #000000;
    
	
}


.qr{
    
    position: absolute;
    width: 99px;
    height: 99px;
    left: 688px;
    top: 1032px;
    
    background: #D9D9D9;
    
}
.link{
    position: absolute;
    width: 633px;
    height: 31px;
    left: 82px;
    top: 1092px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    
    color: #000000;
    
    
}

@media print {
    body{
        margin: 0px;
    }
    .png{
        display:none;
    }
    
}
  